<div class="people">
    <img src="/assets/img/bb.jpg" alt="" style="width: 100px; height: 100px; border-radius: 50%;">
    <h4>Henry Wo</h4>
</div>
<div class="people">
    <img src="/assets/img/bb.jpg" alt="" style="width: 100px; height: 100px; border-radius: 50%;">
    <h4>deny fran</h4>
</div>
<div class="people">
    <img src="/assets/img/bb.jpg" alt="" style="width: 100px; height: 100px; border-radius: 50%;">
    <h4>John Andwery</h4>
</div>
<div class="people">
    <img src="/assets/img/bb.jpg" alt="" style="width: 100px; height: 100px; border-radius: 50%;">
    <h4>jonh Ade</h4>
    
</div>