
        <head>
                  <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-J5CJ3158VG"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-J5CJ3158VG')
        </script>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2029700598694571"
        crossorigin="anonymous"></script>
        <meta name="google-site-verification" content="im0n_fuEAHP_2vKAqTr1FnDoGNd3O5R_7ajeeiquTbw" />
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <meta name="keywords" content="online business revitalization, API activation, digital transformation, business efficiency, web presence enhancement, user engagement, competitive advantage, business optimization, API integration, digital innovation">
      <meta name="description" content="Revitalize Your Online Business with API-Activate-It! Our cutting-edge solution revitalizes your web presence, streamlining operations and enhancing user engagement. Perfect for businesses seeking reinstatement or a competitive edge in the digital landscape. Dive into the future of efficiency with API-Activate-It today.">
            <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">
            <link rel="stylesheet" href="/assets/styles.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
        </head>
        <body>
            <div class="container-fluid">
        <%- include('partials/header') %> 

        <header>

            <h1>Contact Us</h1>
        </header>

        <main>
            <form action="#" method="post">
                <label for="name">Your Name:</label>
                <input type="text" id="name" name="name" placeholder="John Doe" required>

                <label for="email">Your Email:</label>
                <input type="email" id="email" name="email" placeholder="john@example.com" required>

                <label for="message">Your Message:</label>
                <textarea id="message" name="message" rows="5" placeholder="Type your message here..." required></textarea>

                <button type="submit">Send Message</button>
            </form>
        </main>

        <footer>
            <span id="dse">
                <p>&copy; 2024 UTech Agent</p>
            </span>
        </footer>
        </div>
    </body>
</html>