<head>
          <!-- Google tag (gtag.js) -->
          <script async src="https://www.googletagmanager.com/gtag/js?id=G-J5CJ3158VG"></script>
          <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
    
            gtag('config', 'G-J5CJ3158VG')
            </script>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2029700598694571"
            crossorigin="anonymous"></script>
    <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <!-- <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">   -->
    <title>Reinstatement Agent Assistance</title>
    <link rel="stylesheet" href="/assets/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
  </head>
  <%- include('partials/header') %>

<section id="purchasing-package">
    <h2>Purchasing Package</h2>
      <p>Choose the package that suits your needs:</p>
          <div class="columns">
            <ul class="price">
              <li style="font-size: 25px">Features</li>
              <li>&nbsp;-</li>
              <li>Account Reinstatement</li>
              <li>Support </li>
              <li>Security Measures</li>
              <li>Price</li>
              <li>API Usage Limits</li>
            </ul>
          </div>
          <div class="columns">
              <ul class="price">
                <li class="header">Basic</li>
                <li class="grey"><span class="discounted-price">$ 25</span> <span class="final-price">$ 15</span></li>
                <li>Basic</li>
                <li>Standard Processing</li>
                <li>Email (24-48 hours)</li>
                <li>One-time payment of <span class="final-price">$15</span></li>
                <li>Once account reinstatements</li>
                <li class="grey"><a href="/new/basic-payment" class="button">Buy Now</a></li>
              </ul>
            </div>

            <div class="columns">
              <ul class="price">
                <li class="header" style="background-color:#04AA6D">Pro</li>
                <li class="grey"><span class="discounted-price">$ 60</span> <span class="final-price">$ 30</span></li>
                <li>Enhanced</li>
                <li>Priority Processing</li>
                <li>Dedicated (12-24 hours)s</li>
                <li>One-time payment of <span class="final-price">$30</span></li>
                <li>Limited account reinstatements</li>
                <li class="grey"><a href="/new/pro-payment" class="button">Buy Now</a></li>
              </ul>
            </div><br>
      <p>All packages include a money-back guarantee if we can't assist in the reinstatement process.</p>

    <!-- Your content goes here -->
  </section>

  <footer>
    <span id="dse">
        <p>&copy; 2024 UTech Agent</p>
    </span>
  </footer>

